* {
  box-sizing: border-box;
}

body {
  background-color: #bdc2a6;
  margin: 0;
}

.main {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 30px auto;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.game {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.game__header {
  display: flex;
  justify-content: center;
  margin: 10px auto 20px;
  width: 200px;
}

.game__button {
  border: #353535 solid 2px;
  border-radius: 5px;
  background: none;
  width: 30px;
  height: 30px;
  margin: 3px;
  cursor: pointer;
}
.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 80px;
  margin: 3px;
  background-color: #f0f0f0;
  border: #353535 solid 2px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
}

.game__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #ffbc2c;
  border: #353535 solid 2px;
  border-radius: 50%;
  font-size: 28px;
}

.game__field {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50%;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 300px;
  height: 150px;
  background-color: #f0f0f0;
  border: #353535 solid 2px;
  border-radius: 20px;
  text-align: center;
  padding: 30px;

  z-index: 1;

  -webkit-box-shadow: 7px 5px 8px -4px rgba(0, 0, 0, 0.81);
  box-shadow: 7px 5px 8px -4px rgba(0, 0, 0, 0.81);
}
.pop-up.hide {
  display: none;
}

.pop-up__msg {
  margin: 10px;
  font-size: 30px;
}

.pop-up__button {
  display: block;
  border: #353535 solid 2px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin: 5px auto;
  cursor: pointer;
}
.pop-up__button:hover {
  transform: scale(1.1);
}
